
/* Mobile Layout */
/* 
Extra small <576px 	
Small ≥576px 	
Medium ≥768px 	
Large ≥992px 	
Extra large ≥1200px 
*/

/* Header */
.main-hdr-top{
    height: 50px;
    background-color: #f72210;
}

.main-hdr-date{
    display: none;
}

.main-hdr-logo svg{
    width: 132px;
    height: 20px;
    fill: #fff;
}
 
.fa-bars{
    color: rgb(251, 154, 148);
    font-size: 28px;
}

.main-hdr-btns-links a{
    display: inline-block;    
    font: bold 14px "Roboto Condensed" ,sans-serif;
    padding: .3em .3em;
    line-height: 14px;
}

.main-hdr-btns-links a:last-child{    
    color: #f72210
}

.main-hdr-btns-links a:hover{    
    text-decoration: none;
}



