
/* Mobile Layout */

.main-hdr-top{
    height: 50px;
    background-color: #f72210;
}

.main-hdr-date{
    display: none;
}

.main-hdr-logo svg{
    width: 132px;
    height: 20px;
    fill: #fff;
}
 
.fa-bars{
    color: rgb(251, 154, 148);
    font-size: 28px;
}

.main-hdr-btns-links a,
.block-hdr,
.cat-badge{
    display: block;    
    font: bold .9rem "Roboto Condensed" ,sans-serif;
    padding: .3em .3em;
    line-height: 1.1rem;
    text-transform: uppercase;
}


.main-hdr-btns-links a:last-child{    
    color: #f72210
}

.main-hdr-btns-links a:hover,
.culture-art-cat:hover {    
    text-decoration: none;
}

.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.h2{
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.h2 a{
    color: black;
}

.cat-badge{
    padding: 9px 15px;
    bottom: 0;
    color: #f72210;
    font-size: 1.1rem;
}

.story-text{
    font-size: .8em;
    clear: both;
}

.h3{
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.h4{
    font-size: 1em;
}

.more-stories h4{
    margin-left: 9rem;
}

.culture-art-cat{
    background-color: #c2d4d7;
    color: black;
    font: normal .8rem "Arial" , serif;
    border-radius: 0;
    text-transform: capitalize;
}
.culture-art-cat:hover{
    background-color:#272727;
    color:#c2d4d7;
}

.culture-art-title{
    font: normal 1.2rem "Helvetica Neue";
}
.culture-art-text{
    font: normal 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
}
